* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

.calculator {
  width: 375px;
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.display {
  position: relative;
  margin: 30px 0 40px;
}
.display input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 35px;
  color: #fff;
  text-align: right;
  pointer-events: none;
}
.display .display-input::placeholder {
  color: #fff;
}
.display.active .display-input {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.3);
  transform: translateY(-65%);
  -webkit-transform: translateY(-65%);
  -moz-transform: translateY(-65%);
  -ms-transform: translateY(-65%);
  -o-transform: translateY(-65%);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.display .display-result {
  position: absolute;
  left: 0;
  font-size: 15px;
  transform: translateY(65%);
  -webkit-transform: translateY(65%);
  -moz-transform: translateY(65%);
  -ms-transform: translateY(65%);
  -o-transform: translateY(65%);
}

.display.active .display-result {
  font-size: 35px;
  transform: translateY(0);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.buttons button {
  padding: 15px;
  background: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  box-shadow: -3px -3px 15px rgba(255, 255, 255, 0.1),
    3px 3px 15px rgba(0, 0, 0, 0.6);
}
.buttons button:hover {
  background: #13171b;
}

.buttons .operator {
  position: relative;
  color: #00e5ff;
}
.buttons .operator span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  font-size: 25px;
}
