* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("src/1d0894ad-432a-4a1c-a3b6-3c0faf4377b2.jpg");
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.section1 {
  display: flex;
  justify-content: space-between;
}
.group1 {
  width: 15rem;
}
.group2 {
  width: 15rem;
}

.container {
  height: 44rem;
  width: 35rem;
  background-color: rgba(255, 255, 255, 0.04);
  box-shadow: 0 25px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);

  &:hover {
    box-shadow: 0 0 25px rgba(25, 175, 217, 0.35),
      0 0 60px rgba(0, 150, 255, 0.25);
  }
}
.header {
  text-align: center;
  display: grid;
  place-items: center;
  height: 3rem;
  color: #fff;
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}
#regForm {
  padding: 18px;
}
label {
  color: rgb(58, 56, 56);
  margin-top: 5px;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
}
input,
select,
textarea {
  border: 2px solid rgb(162, 207, 235);
  border-radius: 5px;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  &:hover {
    border: 2px solid rgb(21, 154, 174);
  }
}
textarea {
  resize: none;
  height: 60px;
}
.inline {
  margin-top: 5px;
  display: flex;
  gap: 5px;
}
button {
  background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
  width: 100%;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid rgb(101, 182, 232);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  &:hover {
    border: 2px solid rgb(21, 154, 174);
  }
}
.error {
  font-size: 12px;
  color: red;
  display: block;
}
@media (max-width: 430px) {
  .section1 {
    display: flex;
    flex-direction: column;
  }
}
